* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav menu style section start*/
#logo-img {
  width: 60px;
  height: 60px;
}
.menu-container {
  padding: 10px;
  display: flex;
  background-color: #b8bcdb;
  align-items: center;
  justify-content: space-around;
}
.menus ul {
  display: flex;
  list-style: none;
}
.nav-item {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
}
.nav-item:hover {
  color: rgb(94, 55, 131);
}
/* nav menu style section end*/

/* banner section style start */
.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  background-image: url(../images/background.png),
    linear-gradient(45deg, #fefefe, #d8dbf3, #f3ddec, #fefefe);
}
.banner-img {
  width: 300px;
}
.banner-title {
  font-size: 55px;
  font-weight: bolder;
}

.banner-description {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.banner-btn {
  padding: 10px 20px;
  background-color: rgb(147, 63, 225);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.banner-btn:hover {
  box-shadow: 0 0 5px black;
  color: black;
}

/* banner section style end */
